@inject HttpClient Http;
@inject IJSRuntime JsRuntime;

<div id="@_containerId"></div>

@code {

    private string _containerId;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        this._containerId = $"Vega{Guid.NewGuid().ToString()}";
    }
    
    [Parameter] 
    public string Nodes { get; set; }
    
    [Parameter] 
    public string Edges { get; set; }
    
    [Parameter]
    public int Height { get; set; }
    
    /// Json file with the vega specification
    [Parameter]
    public string SpecFile { get; set; }
    
    [Parameter]
    public string Title { get; set; }
    
    protected override async Task OnAfterRenderAsync(bool firstRender) {
        var spec = await Http.GetStringAsync($"vega/{SpecFile}");
        await JsRuntime.InvokeAsync<Object>(
            "VegaHelper.setupGraph", 
            new { spec = spec, nodes = Nodes, edges = Edges, containerSelector = $"#{_containerId}", height = Height});
    }
}
