@page "/Break"
@using Interrogator.Game
@layout NarrowLayout

@if (PrisonManager != null)
{
    <h3 class="mb-4">Round @CurrentRound/@PrisonManager.RoundTotalCount</h3>
    <Ranking Prisoners="@PrisonManager.ActivePrison.Prisoners" ShowDuelWins="true"></Ranking>
}

<button class="btn btn-primary" @onclick="NextRound">Next Round</button>

@code {
    [Inject]
    private PrisonManager PrisonManager { get; set; }
    
    [Inject]
    private NavigationManager Navigation { get; set; }

    private int CurrentRound => PrisonManager.CurrentRoundIndex + 1;

    private void NextRound()
    {
        PrisonManager.PrepareNextRound();
        Navigation.NavigateTo("interrogate");
    } 
}