@page "/Break"
@using Interrogator.Game
@layout NarrowLayout

@if (PrisonManager.ActivePrison != null)
{
    <h3 class="mb-4">
    @if (CurrentRound < PrisonManager.TotalRoundCount)
    {
        <text>Round @CurrentRound/@PrisonManager.TotalRoundCount</text>
    }
    else
    {
        <text>Final Result</text>
    }
    </h3>
    <Ranking Prisoners="@PrisonManager.ActivePrison.Prisoners" ShowDuelWins="true"></Ranking>
}

@if (CurrentRound < PrisonManager.TotalRoundCount)
{
    <button class="btn btn-purple" @onclick="NextRound">Next Round</button>
    <button class="btn btn-purple ms-4" @onclick="FastForward">Fast Forward</button> 
}


@code {
    private void FastForward()
    {
        PrisonManager.PrepareNextRound();
        this.PrisonManager.FastRun();
        this.Navigation.NavigateTo("break");
    }
    
    [Inject]
    private PrisonManager PrisonManager { get; set; }
    
    [Inject]
    private NavigationManager Navigation { get; set; }

    private int CurrentRound => PrisonManager.CurrentRoundIndex + 1;

    private void NextRound()
    {
        PrisonManager.PrepareNextRound();
        Navigation.NavigateTo("interrogate");
    } 
}