@page "/interrogate"
@using Interrogator.Game
@using System.Timers
@using Interrogator.Game.Setup
@inject HttpClient Http

@if (@ActivePrison == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <Round RoundData="@PrisonManager.CurrentRound"/>
    @if (!IsRunning)
    {
        <button class="btn btn-purple mt-3" @onclick="Start">Go!</button> 
    }
    else if (ShowNextButton)
    {
        <button class="btn btn-purple mt-3" @onclick="Next">Continue</button> 
    }
}

@code {
    [Inject] 
    private PrisonManager PrisonManager { get; set; }

    [Inject]
    private NavigationManager Navigation { get; set; }
    
    private Prison ActivePrison => this.PrisonManager.ActivePrison;

    private Timer _timer;

    private void SetTimer()
    {
        this._timer = new System.Timers.Timer(PrisonManager.ActivePrison.MsPerTurn);
        this._timer.Elapsed += OnTimedEvent;
        this._timer.AutoReset = true;
        this._timer.Enabled = true;
    }

    private async void OnTimedEvent(Object source, ElapsedEventArgs e)
    {
        if (!PrisonManager.IsRoundFinished)
        {
            this.PrisonManager.RunTurnBatch();
            await InvokeAsync(StateHasChanged);
        }
        else
        {
            this._timer.Stop();
            this._timer.Dispose();
            this.StateHasChanged();
        }
    }

    private bool ShowNextButton => PrisonManager.IsRoundFinished;

    private bool IsRunning { get; set; }
    
    private void Start()
    {
        this.IsRunning = true;
        if (PrisonManager.ActivePrison.MsPerTurn > 0)
        {
            this.SetTimer(); 
        }
        else
        {
            InvokeAsync(StateHasChanged);
            while (!PrisonManager.IsRoundFinished)
            {
                this.PrisonManager.RunTurnBatch();
            }
            InvokeAsync(StateHasChanged);
        }
    }
    
    private void Next()
    {
        this.PrisonManager.FinishRound();
        this.Navigation.NavigateTo("break");
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
           // this.SetTimer();
        }
    }
}