@inherits LayoutComponentBase

<div class="page">
      <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <span class="navbar-toggler-icon"></span>
      </button>
    <NavMenu/>

    <main>
        <article class="container content px-4">
            @Body
        </article>
    </main>
</div>