@using Interrogator.Game
@using Interrogator.Game.Setup
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Orc Interrogator</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Start
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="overview">
                    <span class="oi oi-list" aria-hidden="true"></span> Overview
                </NavLink>
            </li>
        </ul>
        @if (PrisonManager.ActivePrison != null)
        {
            <Ranking Prisoners="@PrisonManager.ActivePrison.Prisoners"></Ranking>  
        }
            
        <h6 class="navbar-text">Configuration</h6>
         @if (PrisonManager.ActivePrison != null)
                {
                    <Config Prison="@PrisonManager.ActivePrison"></Config>  
                }
        <form class="d-flex">
            <input @bind="PrisonToLoad" class="form-control me-2" type="text" placeholder="Prison" aria-label="Search">
            <button @onclick="Load" class="btn btn-outline-success">Load</button>
        </form>
    </div>
</div>


@code {
    private Prison ActivePrison => this.PrisonManager.ActivePrison;

    private string PrisonToLoad { get; set; }
    
    [Inject] 
    private PrisonManager PrisonManager { get; set; }
    
    [Inject] 
    private Loader Loader { get; set; }

    [Inject]
    private NavigationManager Navigation { get; set; }
    
    private async void Load()
    {
        Console.WriteLine(PrisonToLoad);
        var prison = await Loader.LoadPrison(this.PrisonToLoad);
        this.PrisonManager.InitializeNewGame(prison);
        Navigation.NavigateTo($"load/{this.PrisonToLoad}");
    }
}